.wrapper_title {
  color: white !important;
  text-align: center;
  font-size: 40px !important;
}

.wrapper_align {
  align-items: start !important;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
}

ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
