.title {
  color: #5385c1;
  margin-top: 70px;
  text-align: center;
}

.wrapper {
  border-radius: 10px;
  background-color: #5385c1;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 70px auto;
}

.wrapper_layout {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 1300px;
}

.wrapper > div {
  padding: 1em;
}

.wrapper_text {
  color: white;
  font-size: larger;
  line-height: 1.5;
  display: block;
}

.custom-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
  }
}
