/* Type */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5385c1;
}

/* Footer */

.custom__footer {
  display: grid;
  grid-template-columns: 1fr;
  border-top: solid 1px grey;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 950px) {
  .custom__footer {
    text-align: center;
  }
}
